<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Happy Day Admin, how are you?</h1>
    <p>
     Hoping good I can officially declare:<br>
    </p>
    <p>
      Someone has signed up!
    </p>
    <p>Thanks for existing and have a great day!</p>
    <p> P.S It has signed up in the site but it must validate its account yet! <p/>
  </body>
</html>
