<head>
<title> Portal </title>
</head>
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User_name</th>
      <th>Email</th>
      <th>Permission_level</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
	<td><%= user.email %></td>
	<td><%= user.permission_level %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

