html
{
  font-size:62.5%;
  height:100%;
  width:100%;
}

body
{
  height:100%;
  width:100%;
  font-size:1em;
  margin:0;
  padding:0;
  background-image:none;
  background-color:white;
  font-family: verdana, arial, helvetica, sans-serif;
}

/* BAR LINK*/

.bar #link
{
  position:relative;
  float:right;
  right:0%;
  padding:2.2em 0em 0 0;
  opacity: 1;
  font-size:1.6em;
  color:#696666;
}

#link a 
{
  text-decoration:none !important;
  color:#696666 !important;
}

#link ul
{
  list-style-type:none;
  padding:0;
  margin:0;
}

#link li
{
  float:left;
  padding:0em 1em 0em 1em;
}

#link a{color:#696666 !important;}

#link a:hover
{
  text-decoration:underline !important;
  color:#959695 !important;
}

#link a:active
{
  text-decoration:underline !important; 
  color:#D5DBD6 !important;
}

/* BAR */
.bar
{ 
  display:table;
  background-color:#fff;
  width:100%;
}


.bar img
{
  margin:1em 5em 0.6em 0.6em;
  float:right;
  max-width:6.4em;
}

.no-pointer
{
  pointer-events: none;
}


.bar h2
{
  float:left;
  position:relative;
  margin-left:1em;
  margin-right:auto;
  font-size:3em;
  font-weight:300;
  color: #000;
  font-family:'Open Sans', sans-serif;
}


