
    <title>La Grande Guerra</title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53020835-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link data-turbolinks-track="true" href="/assets/normalize.css" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/assets/index_style.css" media="all" rel="stylesheet" />
    <!--<%= javascript_include_tag 'jquerycode.min.js'%>-->
    <link data-turbolinks-track="true" href="/assets/normalize.css">

    <script> 
      $(document).ready(function(){

      	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 1200, 'swing', function () {
	        window.location.hash = target;
	    });
	});

        
        $('.bxslider').bxSlider({
          mode: 'fade',
          speed: 1000    
        });

        $("#navicon").click(function(){
          var right =  parseInt($("#link").css('right'))/10;
          if(right == 0){
            $("#link").animate({   
              right:'1%',
              opacity: '1.00'
            },1000);
          }
          else{
            $("#link").animate({   
              right:'0%',
              opacity: '0'
            },1000);
          }
        });
        
       $("#arrow").click(function(){
          $("#content1").animate({
               opacity: '0'
             },2000);

          $("#content1").attr("disabled", "disabled").off('click');

          $("#content2").animate({  
               left:'5%',
               opacity: '1'
             },2000);
       });
     }); 
   </script>

  <style>
    body
    {
      background-color:#fff;
      background-image:none;  
    }   
  </style>  
 
  </head>
  <body>
    <!--barra-->
    <div id="home" class="barra">
        <img alt="link" id="navicon" src="assets/home.png">
        <div id="link">
          <ul>
            <li><a href="#home">Home</a></li> 
            <li><a href="#team">Chi siamo</a></li>
            <li><a href="#tech">Tecnologia</a></li>
            <li><a href="<%= new_user_session_path %>">Accedi</a></li>
            <li><a href="<%= new_user_registration_path %>">Iscriviti</a></li>
          </ul>
        </div>
        <h2>LA GRANDE GUERRA</h2>
    </div>
    
    <!-- CITAZIONE/I CENTRALE/I-->
    <div class="central">
      <div class="csizer">
        <div id="content1">
          <div id="first">
            <p>Quando un popolo non ha piu' senso vitale del suo passato si spegne.
              La vitalita' creatrice e' fatta di una riserva di passato.
              Si diventa creatori anche noi, quando si ha un passato.
              La giovinezza dei popoli e' una ricca vecchiaia!</p>
              <h3  style="text-align:right;">-cit Cesare Pavese</h3>
          </div>
          
          <div id="second">
            <p>Le battaglie si vincono e si perdono con identico cuore. Io faccio rullare i tamburi per tutti i morti, Per essi faccio squillare  le trombe in tono alto e lieto, Vivan coloro che caddero, viva chi perde in mare i propri vascelli. Vivan coloro che affondano con essi. Vivan tutti i generali sconfitti e tutti gli eroi schiacciati e gli innumerevoli eroi sconosciuti, uguali ai piu' grandi e conosciuti eroi</p>
            <h3 style="text-align:left; ">-cit Walt Whitman</h3>
          </div>
          <img alt="arrow" src="assets/arrow-minimal.png" onload="aggiungi(this);" class="center" id="arrow">
          <p id="scopri" class="center">(Clicca per visualizzare le ultime notizie)</p>
        </div>
      
      
      <!--INIZIO SLIDE FEED -->
        <div id="content2">
          <ul class="bxslider">
            <li><p>La Turchia perde interesse sulla Mesopotamia e riversa tutte le sue forze sul fronte egiziano. Schierati 240 mila uomini.</p><h2>-Federico Pomponii</h2></li>
            <li><p>Rimprovero alla spesa in campo militare da parte di Tedesco: "6 miliardi e 893 milioni spesi in 12 anni"</p><h2>-Vincenzo Di Nicola</h2></li>
            <li><p>Milano: sono appena state comunicate, dal sindaco Caldaia, le dimissioni del consigliere comunale Benito Mussolini.</p> <h2>#lagrandeguerra</h2></li>
          </ul>
        </div>
      </div>
    </div>
    

    <!-- VARIE INFORMAZIONI-->
    <div id="tech" class="about" style="height:100%;">
      <div class="tecnologia">
        <img alt="techonogy" id="technoimg" src="assets/technology.png"/>
        <img id="technotext" src="assets/technology-text.png"/>
      </div>
    
      <div class="italy">
        
        <img alt="story" id="italytext" src="assets/storia-text.png"/>
        <img alt="story" id="italyimg" src="assets/storia.png"/>
      </div> 
     
      <div class="italy-2">
        <img alt="story" id="italyimg2" src="assets/storia-2.png"/>
        <img alt="story" id="italytext2" src="assets/storia-2-text.png"/>
      </div>    
    </div>

    <!-- CHI SIAMO SECTION -->

    <div class="who">
      <h3>The Team</h3>
        <div style="padding-left:7em;margin-left:8em">
          <div class="member">
            <img alt="Vincenzo Di Nicola" src="assets/pic3.jpg">
            <h2>Vincenzo Di Nicola</h2>
            <h4>Coordinatore</h4>
            <p>Teramo (TE) <br>Classe 1979</p>  
          </div>
      
          <div class="member">
            <img alt="Davide di carlo" src="assets/pic2.jpg">
            <h2>Davide Di Carlo</h2>
            <h4>Sviluppatore</h4>
            <p>Teramo(TE)<br>Classe 1997</p>  
          </div>
  
          <div class="member">
            <img alt="Federico Pomponii" src="assets/pomponii.jpg">
            <h2>Federico Pomponii</h2>
            <h4>Sviluppatore</h4>
            <p>Teramo(TE)<br>Classe 1997</p>  
          </div>
  
          <div class="member">
            <img alt="Davide Barbieri" src="assets/pic1.jpg">
            <h2>Davide Barbieri</h2>
            <h4>Sviluppatore</h4>
            <p>Teramo(TE)<br>Classe 1997</p>  
          </div>

		  <div class="member">
            <img alt="Marco Mazzoni" src="assets/pic4.jpg">
            <h2>Marco Mazzoni</h2>
            <h4>Sviluppatore</h4>
            <p>Teramo(TE)<br>Classe 1995</p>  
          </div>

          <div class="member" id="team">
            <img alt="Simone Coccia" src="assets/coccia.jpg">
            <h2>Simone Coccia</h2>
            <h4>Sviluppatore</h4>
            <p>Teramo(TE)<br>Classe 1995</p>  
          </div>
        </div>
    </div>

    <!-- OLD NAVIGATION BAR -->
    <!--<div class="navigation">
      <ul>
        <a href="#home">
          <li>
            <img alt="home" src="images/Home-icon.png"/>Home
          </li>
        </a>
        <a href="#about">
          <li>
            <img alt="home" src="images/about.png"/>Tecnologia
          </li>
        </a>
        <a href="#who">  
          <li>
            <img alt="home" src="images/chisiamo.png"/>Chi siamo
          </li>
        </a>
        <li>
          <img src="images/sign-in.png"/>Sign in
        </li>
      </ul>
    </div>-->
  </body>
  
</html>

