<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h2>
			Non ci sono feed da pubblicare in data:  <%=Time.now + (60*60*24*2) %>!
		</h2>
		<h4>
			Buona giornata buon amminastratore!
		</h4>
	</body>
</html>
