<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h2>
			Non ci sono feed da pubblicare in data:  <%=(Time.now + 2.days).strftime('%d-%m-%Y')%>!
		</h2>
		<h4>
			Buona giornata Amminastratore!
		</h4>
	</body>
</html>
